<%= line_chart data, xtitle: 'Time', ytitle: 'Number of Results', curve: false, library: {chart: {zoomType: 'x'}, subtitle: {text: "Click and drag in the graph area to zoom in"}}, title: 'Number of Resulting Tweets Over Time Period' %>
<h4>Number of Results: <%= count %></h4>
